* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}


.bolder-text {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bolder;
}

.title-text {
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}


.appNavBar-bg-color {
  background-color: rgb(160, 156, 150);
}

.design {
  max-width: 25px;
  max-height: 25px;
  margin-top: 12px;
  color: brown;
}

.img {
  max-width: 330px;
  height: 300px;
  border: solid 1px rgb(102, 97, 97, .3);
  border-radius: 10px;
  margin-top: 10px;
}

.cardSize {
  min-height: 100%;
}

.page-bg {
  max-width: 100%;
  height: 92vh;
  background-color: rgb(235, 231, 231);
}

.tbl-bg {
  background-color: rgb(235, 231, 231);
}

.decor {
  max-height: 100%;
  background-color: white;
  border: solid 3px rgb(255, 255, 255);
}

.mar-top {
  margin-top: 100px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}



.text-color{
  color: rgb(228, 121, 82);
}

.box-height{
  height: 150px;
}

.text-color-active {
  color: green;
}

.text-color-inactive {
  color: red;
}

.designDrop{
  max-width: 100px;
  height: 10px;
  box-sizing: border-box;
}
.btn-size{
  max-width: 200px;
  border: none;
}

.image-container{
  max-width: 95%;
  height: 320px;
  border: solid 1px rgb(102, 97, 97, .3);
  border-radius: 10px;
  margin-top: 10px;
}


.inline-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-box {
  width: 100px;
  padding: 4px;
  margin: 0 8px;
}

.small-button {
  width: 30px;
  background-color: gray;
  color: white;
  border: none;
  padding: 2px;
  margin: 0 4px;
}